<?xml version="1.0"?>

<config>
    <modules>
        <Inchoo_ProductFaq>
            <version>0.1.0</version>
        </Inchoo_ProductFaq>
    </modules>
    <global>
        <models>
            <inchoo_productfaq>
                <class>Inchoo_ProductFaq_Model</class>
                <resourceModel>inchoo_productfaq_resource</resourceModel>
            </inchoo_productfaq>
            <inchoo_productfaq_resource>
                <class>Inchoo_ProductFaq_Model_Resource</class>
                <entities>
                    <question>
                        <table>question</table>
                    </question>
                </entities>
            </inchoo_productfaq_resource>
        </models>
        <resources>
            <inchoo_productfaq_setup>
                <setup>
                    <module>Inchoo_ProductFaq</module>
                </setup>
            </inchoo_productfaq_setup>
        </resources>
        <!--<blocks>-->
            <!--<inchoo_productfaq>-->
                <!--<class></class>-->
            <!--</inchoo_productfaq>-->
        <!--</blocks>-->
    </global>
    <frontend>
        <routers>
            <productfaq>
                <use>standard</use>
                <args>
                    <module>Inchoo_ProductFaq</module>
                    <frontName>productfaq</frontName>
                </args>
            </productfaq>
        </routers>
    </frontend>
</config>