<?xml version="1.0"?>

<config>
    <modules>
        <Inchoo_Faq>
            <version>0.1.0</version>
        </Inchoo_Faq>
    </modules>
    <global>
        <models>
            <inchoo_faq>
                <class>Inchoo_Faq_Model</class>
                <resourceModel>inchoo_faq_resource</resourceModel>
            </inchoo_faq>
            <inchoo_faq_resource>
                <class>Inchoo_Faq_Model_Resource</class>
                <entities>
                    <faq>
                        <table>inchoo_faq</table>
                    </faq>
                </entities>
            </inchoo_faq_resource>
        </models>
        <resources>
            <inchoo_faq_setup>
                <setup>
                    <module>Inchoo_Faq</module>
                </setup>
            </inchoo_faq_setup>
        </resources>
        <blocks>
            <inchoo_faq>
                <class>Inchoo_Faq_Block</class>
            </inchoo_faq>
        </blocks>
        <helpers>
            <inchoo_faq>
                <class>Inchoo_Faq_Helper</class>
            </inchoo_faq>
        </helpers>
    </global>
    <frontend>
        <routers>
            <inchoo_faq_router>
                <use>standard</use>
                <args>
                    <module>Inchoo_Faq</module>
                    <frontName>questions</frontName>
                </args>
            </inchoo_faq_router>
        </routers>
        <layout>
            <updates>
                <module>
                    <file>inchoo_faq.xml</file>
                </module>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <inchoo_faq before="Mage_Adminhtml">Inchoo_Faq_Adminhtml</inchoo_faq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>